$main-yellow: #F7D40C;
$yellow-hover: #FFEE8D;
$main-black: #2A2A34;
$black-hover: #7E7E7E;
$white: #FFFFFF;
$light-gray: #4A4A4A;
$light-blue: #F2FAFF;
$light-gray-text: #ACACAC;
$green-allow: #6EBB49;
$divide-grey: #E6E6EA;
$red-warning: #FF5A5A;
$input-error: #FFF2F2;
$blue-link: #169DFF;
$light-green: #B0F290;
$electric:#23D8D8;
$deluxe: #9746FF;
$legend: #FF15A2;
$golden: #F6D40C;
