@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.btn-yellow {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $main-black;
    text-decoration: none;
    padding: 15px 20px;
    background-color: $main-yellow;
    box-shadow: 0px 2px 0px #DCC438;
    border-radius: 10px;
    transition: background-color .3s ease;
    

    &:hover {
        background-color: $yellow-hover;
    }
}
