@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

html {
    box-sizing: border-box;

    a {
        outline: none !important; 
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.footer__container {
    max-width: 1520px;
    margin: 0 auto;
}

.btn-yellow {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $main-black;
    text-decoration: none;
    padding: 15px 20px;
    background-color: $main-yellow;
    box-shadow: 0px 2px 0px #DCC438;
    border-radius: 10px;
    transition: background-color .3s ease;
    

    &:hover {
        background-color: $yellow-hover;
    }
}

.page__navigation-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $main-black;
    margin-bottom: 50px;
}

.button-likes {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $main-black;
    padding: 18px 22px 18px 54px;
    background-color: $main-yellow;
    border-radius: 10px;
    border: 0;
    position: relative;
    margin-right: 10px;
    transition: background-color .3s ease;

    &:hover {
        background-color: $yellow-hover;
    }

    &::before {
        content: '';
        background: url(../img/svg/like-ico.svg) no-repeat left center;
        position: absolute;
        top: -1px;
        left: 28px;
        width: 100%;
        height: 100%;
    }

    
}

.button-dislikes {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $white;
    padding: 18px 35px 18px 54px;
    background-color: $main-black;
    border-radius: 10px;
    border: 0;
    position: relative;
    transition: background-color .3s ease;

    &:hover {
        background-color: $black-hover;
    }

    &::before {
        content: '';
        background: url(../img/svg/dis-ico.svg) no-repeat left center;
        position: absolute;
        top: -1px;
        left: 28px;
        width: 100%;
        height: 100%;
    }

    
}

.btn-inactive {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $light-gray-text;
    background-color: $divide-grey;
    box-shadow: 0px 2px 0px #ACACAC;
    border-radius: 10px;
    text-decoration: none;
}

.toggle {

    &-switch {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 16px;


        input:checked + .toggle-slider {
            background-color: $green-allow;
        }

        input:checked + .toggle-slider::before {
            transform: translateX(20px);
        }
    }

    &-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $red-warning; 
        transition: .3s;
        border-radius: 34px;
    }

    &-switch input {display: none;}

    &-slider::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        left: 2px;
        bottom: 2px;
        background-color: $white;
        transition: .3s;
        border-radius: 50px;
    }

}



