.download {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        width: 825px;
        padding: 36px 0px 36px 30px;
        background: $main-yellow;
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        columns: $main-black;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        padding-left: 30px;

        &-desc {
            width: 225px;
            margin-right: 30px;
        }

        &-text {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $main-black;
        }

        &-cards {
            display: flex;
            justify-content: space-between;
            width: 445px;
            height: 300px;
            background-color: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            padding: 49px 59px 44px 59px;
            margin-top: -65px;
        }

        &-card {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 48px;
            }

            &-btn {
                padding: 15px 35px;  
            }

            &-button {
                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $light-gray-text;
                padding: 15px 20px;
                background-color: $divide-grey;
                box-shadow: 0px 2px 0px #ACACAC;
                border-radius: 10px;
                cursor: default;
            }
        }
    }
}
