.footer {

    &__wrapper {
        padding: 30px 210px 30px 204px;
        background: $main-yellow;
        border-radius: 10px 10px 0px 0px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    &__logo {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: $main-black;
        margin-right: 100px;
    }

    &__list {
        display: flex;
    }

    &__item {

        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        
        &-link {
            font-size: 16px;
            line-height: 22px;
            color: $main-black;
            text-decoration: none;
        }
    }

    &__up {
        margin: 0 0 0 auto;
    }

    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        padding-right: 25px;
        text-decoration: none;
        position: relative;
        background: url(../img/svg/arrow_up.svg) no-repeat right center;
    }

    &__links {
        
        &-lucky {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            text-decoration: none;
            color: $main-black;
            margin-right: 74px;
        }

        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $main-black;
        }

        &-wellto {
            color:  #2787F5;
            text-decoration: none;
        }
    }

}