.header {
    padding-top: 40px;
    margin-bottom: 59px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    &__logo {
        margin: 0 auto 0 0;
    }

    &__nav{
        &-list {
            display: flex;
        }

        &-item {
            margin-right: 40px;

            &:last-child {
                margin-right: 38px;
            }
        }

        &-link {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: $main-black;
            text-decoration: none;
            transition: color .3s ease;

            &:hover {
                color: #F6D40C;
            }
        }
    }

    &__reg {
        
        &-login {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: $white;
            padding: 15px 20px;
            background-color: $light-gray;
            text-decoration: none;
            border-radius: 10px;
            box-shadow: 0px 2px 0px $main-black;
            margin-right: 20px;
            transition: background-color .3s ease;

            &:hover {
                background-color: $black-hover;
            }
        }
    }
}