.header {
    padding-top: 40px;
    margin-bottom: 59px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    &__logo {
        margin: 0 auto 0 0;
    }

    &__nav{
        &-list {
            display: flex;

            li:hover .header__subnav-list {
                display: block;
            }
        }

        &-item {
            margin-right: 40px;
            position: relative;

            &:last-child {
                margin-right: 38px;
            }
        }

        &-link {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: $main-black;
            text-decoration: none;
            transition: color .3s ease;
            padding-bottom: 20px;

            &:hover {
                color: #F6D40C;
            }

        }
    }

    &__subnav-list {
        display: none;
        width: 279px;
        padding: 0px 72px 0px 25px;
        background: $light-blue;
        border-radius: 10px;
        position: absolute;
        left: -80%;
        top: 184%;
        box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
        z-index: 5;

        &::before {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-right: 22px solid transparent;
            border-left: 22px solid transparent;
            border-bottom: 22px solid $light-blue;
            position: absolute;
            top: -20px;
            left: 42%;
            z-index: 5;
        }
    }

    &__subnav-item {
        border-bottom: 1px solid #E6E6EA;

        &:last-child {
            border: none;
        }
    }


    &__subnav-link {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        text-decoration: none;
        padding-bottom: 12px;
        padding-top: 12px;
        transition: color .3s ease;

        &:hover {
            color: $main-yellow;
        }
    }

    &__reg {
        
        &-login {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: $white;
            padding: 15px 20px;
            background-color: $light-gray;
            text-decoration: none;
            border-radius: 10px;
            box-shadow: 0px 2px 0px $main-black;
            margin-right: 20px;
            transition: background-color .3s ease;

            &:hover {
                background-color: $black-hover;
            }
        }
    }
}

.servers-list {
    position: absolute;
    top: 41px;
    left: -106px;
}