.market {


    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__page-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 20px;
    }
    &__form {
        position: relative;

        &-row {
            width: 825px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid $divide-grey;
            }
        }

        &-group {
            position: relative;
            &::after {
                display: block;
                content: '';
                width: 15px;
                height: 8px;
                background: url(../img/svg/arrow-down.svg) no-repeat right center;
                position: absolute;
                top: 45px;
                right: 12px;

            }
        }

        &-label {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $light-gray-text;
            margin-bottom: 6px;
        }

        &-select {
            width: 255px;
            background: #FFFFFF;
            border: 1px solid #E6E6EA;
            border-radius: 10px;
            padding: 9px 0px 9px 10px;
            appearance: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $main-black
        }

        &-option {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            border-radius: 10px;
            background-color: transparent;
        }

        &-searchfield {
            display: block;
            width: 528px;
            line-height: 20px;
            background: $light-blue;
            border: 1px solid $divide-grey;
            padding: 9px 0 9px 10px;
            border-radius: 10px;
    
            &::placeholder {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $light-gray-text;
            }

            &-btn {
                position: absolute; 
                top: 80px;
                right: 289px;
                width: 40px;
                height: 40px;
                border: none;
                border-left: 1px solid #E6E6EA;
                background: transparent;
                border-radius: 0 10px 10px 0;
                cursor: pointer;
    
                &::before {
                    content: "\f002";
                    font-family: FontAwesome;
                    font-size: 15px;
                    color: $main-black;
                }
            }
        }
    }

    &__clean {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray-text;
        text-decoration: underline;
        background: transparent;
        border: 0;
        padding-right: 83px;
    }

    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: flex-start;
        width: 825px;
    }

    &__stat-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
    }

    &__sort-drop {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray-text;
        padding-right: 30px;
        padding-bottom: 10px;
        position: relative;

        &::after {
            content: "\f107";
            font-family: FontAwesome;
            font-size: 15px;
            columns: $light-gray-text;
            position: absolute;
            top: 9%;
            right: 7%;
        }
    }

    &__sort-text {

        li:hover {
            cursor: pointer;
        }

        li:hover .market__sort-list {
            display: block;
        }
    }

    &__sort-list {
        display: none;
        width: 279px;
        position: absolute;
        padding: 0px 31px 15px 44px;
        background: $light-blue;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
        top: 100%;
        right: 0;
    }

    &__sort-item {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid $divide-grey;

        &:last-child {
            padding-bottom: 0;
            border: 0;
        }
    }

    &__sort-link{
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        text-decoration: none;
        transition: color .3s ease;

        &:hover {
            color: $main-yellow;
        }
    }

    &__cards {
        width: 825px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid $divide-grey;
        margin-bottom: 30px;
    }

    &__card {
        width: 149px;
        height: 244px;
        padding: 20px;
        background: $white;
        box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: $main-black;
            text-align: left;
        }

        &-img {
            margin-bottom: 20px;
        }

        &-btn {
            display: block;
            padding: 15px 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $main-black;
            text-decoration: none;
            background-color: $main-yellow;
            box-shadow: 0px 2px 0px #DCC438;
            border-radius: 10px;
            margin: auto 0 0 0;
            transition: background-color .3s ease;

            &:hover {
                background-color: $yellow-hover;
            }
        }
    }


}


.market-item-active {
    position: relative;

    &::before {
        display: block;
        content: '';
        width: 14px;
        height: 11px;
        background: url(../img/svg/accept-green.svg) no-repeat left center;
        position: absolute;
        top: 7px;
        left: -25px;
        
    }
}
