.market {


    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__form {


        &-select {

            width: 255px;
            background: #FFFFFF;
            border: 1px solid #E6E6EA;
            border-radius: 10px;
            padding: 9px 0px 9px 10px;
            outline: 0 !important;
        }
    }
}