.news {
    margin-top: 50px;
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 19px;
        }
    }

    &__pic {
        margin-right: 31px;
    }

    &__span {
        font-size: 16px;
        line-height: 22px;
        color: $light-gray;
    }

    &__title {
        max-width: 443px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 10px;
        margin-top: 17px;
    }

    &__text {
        max-width: 444px;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray;
        margin-bottom: 50px;
    }

    &__more {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $white;
        padding: 9px 20px;
        background-color: $light-gray;
        box-shadow: 0px 2px 0px $main-black;
        border-radius: 10px;
        text-decoration: none;
        transition: background-color .3s ease;
        margin-right: 30px;

        &:hover {
            background-color: $black-hover;
        }
    }

    &__date {
        font-size: 16px;
        line-height: 22px;
        color: $light-gray-text;
    }

    &__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #169DFF;
    }

}