.news {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__page-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 20px;
    }

    &__form { 
        border-bottom: 1px solid $divide-grey;
        position: relative;
        margin-bottom: 31px;
     }

    &__search {
        display: block;
        width: 813px;
        line-height: 20px;
        background: $light-blue;
        border: 1px solid $divide-grey;
        padding: 9px 0 9px 10px;
        border-radius: 10px;
        margin-bottom: 30px;

        &::placeholder {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $light-gray-text;
        }
        

        &-btn {
            position: absolute; 
            top: 0;
            right: 0px;
            width: 40px;
            height: 40px;
            border: none;
            border-left: 1px solid #E6E6EA;
            background: transparent;
            border-radius: 0 10px 10px 0;
            cursor: pointer;

            &::before {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 15px;
                color: $main-black;
            }
        }
    }


    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: flex-start;
    }

    &__stat-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
    }

    &__sort-drop {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray-text;
        padding-right: 30px;
        padding-bottom: 10px;
        position: relative;

        &::after {
            content: "\f107";
            font-family: FontAwesome;
            font-size: 15px;
            columns: $light-gray-text;
            position: absolute;
            top: 9%;
            right: 7%;
        }
    }

    &__sort-text {

        li:hover {
            cursor: pointer;
        }

        li:hover .news__sort-list {
            display: block;
        }
    }

    &__sort-list {
        display: none;
        width: 260px;
        position: absolute;
        padding: 17px 31px 5px 44px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
        top: 100%;
        right: 0;
    }

    &__sort-link {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        text-decoration: none;
        margin-bottom: 12px;
        transition: color .3s ease;

        &:hover {
            color: $main-yellow;
        }
    }

    &__cards {
        border-bottom: 1px solid $divide-grey;
        padding-bottom: 11px;
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 19px;
        }
    }

    &__pic {
        margin-right: 31px;
    }

    &__span {
        font-size: 16px;
        line-height: 22px;
        color: $light-gray;
    }

    &__title {
        display: block;
        text-decoration: none;
        max-width: 443px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 10px;
        margin-top: 17px;
    }

    &__text {
        max-width: 444px;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray;
        margin-bottom: 50px;
    }

    &__more {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $white;
        padding: 9px 20px;
        background-color: $light-gray;
        box-shadow: 0px 2px 0px $main-black;
        border-radius: 10px;
        text-decoration: none;
        transition: background-color .3s ease;
        margin-right: 30px;

        &:hover {
            background-color: $black-hover;
        }
    }

    &__date {
        font-size: 16px;
        line-height: 22px;
        color: $light-gray-text;
    }

    &__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #169DFF;
    }


    &__content-wrapper {
        display: flex;
    }

    &__content {
        margin-right: 30px;

        &-title {
            max-width: 445px;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
            color: $main-black;
            margin-bottom: 11px;
        }

        &-date {
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $light-gray-text;
            margin-right: 34px;
        }

        &-views {
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $light-gray-text;
            padding-left: 23px;
            position: relative;

            &::before {
                content: '';
                background: url(../img/svg/eye-ico.svg) no-repeat left center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &-pic {
            display: block;
            margin-top: 31px;
            margin-bottom: 30px;
        }

        &-text {
            max-width: 445px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $light-gray;

            &-wrapper {
                margin-bottom: 50px;
            }
        }
    }

    &__actual {

        &-title {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: $main-black;
            margin-bottom: 20px;
        }

        &-card {
            width: 255px;
            background-color: white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 10px;
            transition: transform .3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        &-flex {
            display: flex;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 15px 10px 10px;

            &-link {
                text-decoration: none;
            }

            &-title {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: $main-black;
            }

            &-date {
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: $light-gray-text;
            }
        }
    }

}

.sort-item-active {
    position: relative;

    &::before {
        display: block;
        content: '';
        width: 14px;
        height: 11px;
        background: url(../img/svg/accept-green.svg) no-repeat left center;
        position: absolute;
        top: 7px;
        left: -25px;
        
    }
}