.notification {
    margin-bottom: 90px;

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 6px;
    }

    &__subtitle {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $red-warning;
        margin-bottom: 50px;
    }

    &__card {
        width: 100%;
        height: 92px;
        background: $white;
        box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 30px 32px 37px;
        margin-bottom: 20px;

        .notification-active {
                    
            &::after {
                display: block;
                content: '';
                width: 16px;
                height: 16px;
                background-color: $red-warning;
                border: 2px solid $white;
                border-radius: 50%;
                position: absolute;
                top: -9px;
                right: -8px;
            }
        }
        
        &:last-child {
            margin-bottom: 30px;
        }

        &-link {
            text-decoration: none;
        }

        &-info {
            display: flex;
            align-items: center;

            &-img {
                margin-right: 17px;
                position: relative;
              
            }

            &-title {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }
        }

        &-date {

            &-ago {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }
        }
    }
}

