.profileplayer {

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 20px;
    }

    &__content {

        
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &-acc {
                width: 445px;
                height: 160px;
                background: $white;
                box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
                border-radius: 10px;
                padding: 35px 0px 35px 30px;
                display: flex;
                align-items: center;

                &-img {
                    margin-right: 30px;
                    position: relative;

                    &::after {
                        display: block;
                        content: '';
                        width: 19px;
                        height: 19px;
                        background: $green-allow;
                        border: 3px solid $white;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }

                &-nick {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 27px;
                    color: $main-black;
                    margin-bottom: 2px;
                }

                &-id {
                    display: block;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                    margin-bottom: 12px;
                }

                &-status {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $red-warning;
                }
            }

            &-stats {
                width: 255px;
                height: 160px;
                background: $white;
                padding: 52px 25px 52px 23px;
                box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
                border-radius: 10px;

                &-reg {
                    display: block;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                    margin-bottom: 4px;
                }

                &-online {
                    display: block;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                    margin-bottom: 4px; 
                }

                &-ingame {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                }
            }

            &-status {
                display: flex;
                align-items: center;
                width: 350px;
                height: 160px;
                background: $green-allow;
                padding: 45px 0px 45px 30px;
                box-shadow: 0px 4px 15px rgba(74, 153, 36, 0.4);
                border-radius: 10px;

                &-img {
                    margin-right: 30px;
                }

                &-title {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 27px;
                    color: $white;
                    margin-bottom: 2px;
                }

                &-subtitle {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $white;
                }
            }
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-last {
            width: 825px;
            padding: 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 90px;

            &-title {
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                color: $main-black;
                margin-bottom: 30px;
            }

            &-msg {
                padding: 20px 0px 30px 30px;
                background: $light-blue;
                border: 1px solid $divide-grey;
                border-radius: 10px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 30px;
                }


                &-user {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    &-img {
                        margin-right: 11px;
                    }

                    &-theme {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        color: $main-black;
                        margin-bottom: 4px;
                    }

                    &-written {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: $light-gray-text;
                    }
                    
                    &-author {
                        color: $blue-link;
                    }
                }

               &-text {
                width: 575px;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 30px;
               }


               &-stat {
                   display: inline-block;
                   margin-right: 20px;

                   &-number {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $light-gray-text;
                   }

                   &-count {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $light-gray-text;
                   }
               }
            }
        }
    }

    &__sidebar {

        &-send {
            display: flex;
            align-items: center;
            width: 255px;
            height: 92px;
            padding: 28px 0px 28px 29px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-img {
                margin-right: 20px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 2px;
            }

            &-count {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }

        }

        &-received {
            display: flex;
            align-items: center;
            width: 255px;
            height: 92px;
            padding: 28px 0px 28px 29px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-img {
                margin-right: 20px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 2px;
            }

            &-count {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }

        }

        
        &-written {
            display: flex;
            align-items: center;
            width: 255px;
            height: 92px;
            padding: 28px 0px 28px 29px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-img {
                margin-right: 20px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 2px;
            }

            &-count {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }

        }

        &-discussed {
            display: flex;
            align-items: center;
            width: 255px;
            height: 92px;
            padding: 28px 0px 28px 29px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-img {
                margin-right: 20px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 2px;
            }

            &-count {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
            }

        }

        &-achievements {
            width: 255px;
            height: 92px;
            padding: 20px 30px 20px 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;

                &-title {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                }

                &-of {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $light-gray-text;
                }
            }

            &-pic {
                margin-left: -10px;
                &:first-child {
                    margin: 0;
                }
            }
        }

        &-friends {
            width: 255px;
            height: 92px;
            padding: 20px 30px 20px 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;

            &-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;

                &-title {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    color: $main-black;
                }

                &-of {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $light-gray-text;
                }
            }

            &-pic {
                margin-left: -10px;
                &:first-child {
                    margin: 0;
                }
            }
        }
    }
}