.servers {
    margin-bottom: 50px;

    &__general {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
    }

    &__record {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        margin-bottom: 30px;

    } 

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
        margin-bottom: 50px;
    }

    &__card {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);

        &:hover .servers__card-pic {
            transform: scale(1.1);
        }




        &-img {
            position: relative;
            &::after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%);
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
            }
        }
        &-pic{
            border-radius: 10px; 
            transition: transform .3s ease ;
        }


        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 25px 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        &-title{
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $white;
    
        }

        &-stat {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: $green-allow;
        }
    }

    &__soon {
        width: 160px;
        height: 160px;
        border-radius: 10px;
        padding: 30px 67px 64px 20px;
        background: $light-gray;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);

        &-text {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: $white;
        }
    }

    &__all {
        padding: 48px 17px 34px 17px;
        text-align: center;
        text-decoration: none;
        background: #E6E6EA;
        border-radius: 10px;
        transition: all .3s ease;

        &:hover {
            background: $main-black;
        }

        &:hover .servers__all-title {
            color: $white;
        }

        &:hover .servers__all-arrow path {
            fill: $white;
        }


        &-arrow {
            margin-bottom: 12px;
            path {
                fill: $main-black;
            }
        }

        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $main-black;
        }
     
    }
}