.settings {


    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $main-black;
        margin-bottom: 30px;
    }
}


.tabs__triggers {
    display: flex;
    background-color: $main-black;
    border-radius: 10px;
    margin-bottom: 34px;
    padding: 4px 4px 4px 4px;


    &-item {
        flex-basis: 50%;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        padding: 9px 0;
        background-color: transparent;
        color: $light-gray;
        border-radius: 10px;
        transition: .3s ease;
        transition-property: color, background-color;
    }
}

.tabs__content {

    &-item {
        display: none;

        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $main-black;
            padding: 36px 0 36px 30px;
            width: 100%;
            height: 100px;
            background: $main-yellow;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }
}

.tab-1__inner {
    display: flex;

    &-desc {
        width: 320px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    &-content {
        margin-top: -70px;

        &-mail {
            width: 540px;
            height: 215px;
            padding: 27px 30px 30px 30px;
            background: $red-warning;
            box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.4);
            border-radius: 10px;
            margin-bottom: 20px;

            &-confirmed {
                display: none;
                width: 540px;
                padding: 30px;
                background: $white;
                box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
                border-radius: 10px;
                margin-bottom: 20px;

                &-title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $main-black;
                    margin-bottom: 28px;
                }

                &-input {
                width: 100%;
                background: $light-blue;
                padding: 12px 0 12px 10px;
                border: 1px solid $divide-grey;
                border-radius: 10px;
                margin-bottom: 20px;
                }

                &-btn {
                width: 100%;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $light-gray-text;
                padding: 9px 0;
                border: 0;
                background-color: $divide-grey;
                box-shadow: 0px 2px 0px #ACACAC;
                border-radius: 10px;
                }
            }

            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 18px;

                &-img {
                    margin-right: 14px;
                }

                &-title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $white;
                }
            }

            &-form {
                margin-bottom: 20px;
            }

            &-input {
                width: 100%;
                padding: 12px 35px 12px 10px;
                border: 1px solid $divide-grey;
                border-radius: 10px;
            }

            &-btn {
                width: 100%;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $white;
                padding: 9px 0;
                border: 0;
                background-color: $light-gray;
                box-shadow: 0px 2px 0px #2A2A34;
                border-radius: 10px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $black-hover;
                }
            }
        }

        &-change {
            width: 540px;
            padding: 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 10px;
            }

            &-subtitle {
                display: block;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $light-gray-text;
                margin-bottom: 30px;
            }

            &-form {
                position: relative;
                margin-bottom: 20px;
            }

            &-label {
                display: block;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 6px; 
            }

            &-input {
                width: 100%;
                padding: 9px 42px 9px 40px;
                background: $light-blue url(../img/svg/lock-grey.svg) no-repeat 16px center;
                border: 1px solid $divide-grey;
                border-radius: 10px;
                margin-bottom: 4px;
            }

            &-warning {
                display: none;
                font-weight: normal;
                font-size: 9px;
                line-height: 12px;
                color: $red-warning;
            }

            &-checkbox {
                position: relative;
                margin-bottom: 20px;

                &-item {
                    appearance: none;
                    position: absolute;

                    &:checked + .tab-1__inner-content-change-checkbox-label::after {
                        color: $main-black
                    }
                }

                &-label {
                    cursor: pointer;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: $light-gray;
                    padding-left: 34px;

                    &::before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        background: $divide-grey;
                        border-radius: 5px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }

                    &::after {
                        content: "\f00c";
                        font-family: FontAwesome;
                        font-size: 14px;
                        color: transparent;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        z-index: 2;
                    }
                }
            }
            &-button {
                width: 480px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                padding: 9px 0;
                background-color: $main-yellow;
                box-shadow: 0px 2px 0px #DCC438;
                border: 0;
                border-radius: 10px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $yellow-hover;
                }
            }
        }

        &-authentication {
            width: 540px;
            padding: 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 10px;
            }

            &-text {
                width: 445px;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $light-gray-text;
                margin-bottom: 40px;
            }

            &-link {
                text-decoration: none;
                color: $blue-link;
            }

            &-code {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
            }

            &-img {
                margin-left: 20px;
                margin-right: 40px;
            }

            &-label {
                display: block;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 6px;
            }

            &-input {
                width: 163px;
                line-height: 20px;
                padding: 9px 0;
                border: 1px solid $divide-grey;
                border-radius: 10px;
                background: $light-blue;
            }

            &-warning {
                width: 100%;
                padding: 20px;
                background: $input-error;
                border: 1px solid $red-warning;
                border-radius: 10px;
                margin-bottom: 20px;

                &-text {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: $main-black;
                }
            }

            &-submit {
                width: 480px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                padding: 9px 0;
                background-color: $main-yellow;
                border: 0;
                box-shadow: 0px 2px 0px #DCC438;
                border-radius: 10px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $yellow-hover;
                }
            }
        }

        &-history {
            width: 540px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 90px;
            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 21px 23px 21px 30px;

                &-title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $main-black;
                }

                &-clear {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $white;
                    padding: 9px 20px;
                    background-color: $light-gray;
                    text-decoration: none;
                    box-shadow: 0px 2px 0px #2A2A34;
                    border-radius: 10px;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: $black-hover;
                    }
                }
            }
            &-card {
                padding: 15px 22px;

                &:nth-child(2n) {
                    background: $light-blue;
                }

                &-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 6px;

                    &-name {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: $main-black;
                    }
                    &-value {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: $main-black;
                    }
                }
            }
        }
    }
}

.tab-2__inner {

    &-content {
        margin-top: -70px;

        &-signature {
            width: 540px;
            padding: 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 30px;

            &-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 30px;
            }

            &-area {
                display: block;
                width: 100%;
                padding: 10px 0px 68px 10px;
                background: $light-blue;
                border: 1px solid $divide-grey;
                border-radius: 10px;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 30px;

                &::placeholder {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: $light-gray-text;
                }
            }

            &-save {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                padding: 9px 20px;
                background-color: $main-yellow;
                box-shadow: 0px 2px 0px #DCC438;
                border-radius: 10px;
                text-decoration: none;
                margin-right: 10px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $yellow-hover;
                }
            }

            &-clear {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $white;
                padding: 9px 20px;
                background-color: $light-gray;
                box-shadow: 0px 2px 0px #2A2A34;
                border-radius: 10px;
                text-decoration: none;
                margin-right: 10px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $black-hover;
                }
            }
        }

        &-extra {
            width: 540px;
            padding: 30px;
            background: $white;
            box-shadow: 0px 4px 15px rgba(166, 166, 166, 0.4);
            border-radius: 10px;
            margin-bottom: 90px;

            &-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $main-black;
                margin-bottom: 30px;
            }

            &-settings {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 6px;

                &-name {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: $main-black;
                }
            }
        }
    }
}

.unknown-value {
    color: $light-gray-text;
}

.form-correct::after {
    display: block;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 14px;
    color: $green-allow;
    position: absolute;
    top: 40px;
    right: 15px;    
}

.form-incorrect::after {
    display: block;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 14px;
    color: $red-warning;
    position: absolute;
    top: 40px;
    right: 15px;    
}

.input-incorrect {
    width: 100%;
    padding: 9px 42px 9px 40px;
    background: $input-error url(../img/svg/lock-error.svg) no-repeat 16px center;
    border: 1px solid $red-warning;
    border-radius: 10px;
}

.tab-2__inner {
    display: flex;

    &-desc {
        width: 320px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $main-black;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.tabs__content-item-active {
    display: block;
}

.tabs__triggers-item-active {
    background-color: $main-yellow;
    color: $main-black;
}

