//Переменные цветов
@import "colors";
//Общие стили
@import "common";
//Header стили
@import "header";
//Intro стили
@import "intro";
//Servers стили
@import "servers";
//News стили
@import "news";
//Sidebar стили
@import "sidebar";
//Footer стили
@import "footer";
